version: '3.9'
services:
  web:
    image: php:8.2-apache
    ports:
      - "8081:443"
    volumes:
      - .:/var/www/html
      - ./certs:/etc/apache2/ssl/
      - ./default-ssl.conf:/etc/apache2/sites-available/default-ssl.conf
    build:
      context: .
  db:
    image: mariadb:10.3
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: notSecureChangeMe
  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: notSecureChangeMe